 <%= render "diaries/header" %>

 <div class=" pl-4 pb-2  sm:text-lg sm:pb-10 sm:pt-6 text-sm pb-10 pt-6  text-center bg-yellow-50 ">
    さあ、小さな日記をはじめよう
</div>



<%= form_with model: @user, url: user_registration_path, class: ' relative  flex flex-col  bg-yellow-50 ', local: true do |f| %>
   <div class="min-h-screen flex flex-col items-center justify-center mb-10 bg-yellow-50">
       <div class="flex flex-col bg-yellow-200 w-4/5 shadow-md  px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md">
          <div class=" font-light self-center  text-3xl">
              新規登録
          </div>
          <%= render 'shared/error_messages', model: f.object %>

            <div class="flex flex-col pt-4">
                 <label class="mb-1 text-xs tracking-wide text-gray-600" for="nickname">ニックネーム:</label>
                 <%= f.text_field :nickname, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"nickname", placeholder:"例) 太郎", maxlength:"40" %>
            </div>
            <div class="flex flex-col pt-4">
                 <label class="mb-1 text-xs tracking-wide text-gray-600" for ="email">メールアドレス:</label>
                 <%= f.email_field :email, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
            </div>
            <%if @sns_id.present? %>
                <%= hidden_field_tag :sns_auth, true %>
             <% else %>
            <div class="flex flex-col pt-4">
                 <label class="mb-1 text-xs tracking-wide text-gray-600" for = "password">パスワード:</label>
                 <% @minimum_password_length %>
                 <%= f.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"password", placeholder:"6文字以上の半角英数字" ,autocomplete: "new-password" %>
                 <p class='text-xs pt-2 text-red-400 '>※英字と数字の両方を含めて設定してください</p>
             </div>

            <div class="flex flex-col pt-4">
                 <label class="mb-1 text-xs tracking-wide text-gray-600" for ="password-confirmation">パスワード(確認):</label>
                 <%= f.password_field :password_confirmation,class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"password", placeholder:"6文字以上の半角英数字" , autocomplete: "new-password" %>
            </div>
            <% end %>

            <div class='flex w-full'>
                 <%= f.submit "Create Account", class: 'flex mt-6 items-center justify-center focus:outline-none text-black text-sm  sm:text-base  bg-yellow-50  hover:bg-yellow-500 rounded-2xl py-2 w-full transition duration-150 ease-in  uppercase cursor-pointer'%>
            </div>

             <div class="flex flex-row justify-center my-5 ">
                 --- or sign-in with ---
             </div>
             <div class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-2 px-10 border rounded-lg border-gray-700 flex items-center w-full mt-3 hover:bg-yellow-300">
                    <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.9892 10.1871C18.9892 9.36767 18.9246 8.76973 18.7847 8.14966H9.68848V11.848H15.0277C14.9201 12.767 14.3388 14.1512 13.047 15.0812L13.0289 15.205L15.905 17.4969L16.1042 17.5173C17.9342 15.7789 18.9892 13.221 18.9892 10.1871Z" fill="#4285F4" />
                            <path d="M9.68813 19.9314C12.3039 19.9314 14.4999 19.0455 16.1039 17.5174L13.0467 15.0813C12.2286 15.6682 11.1306 16.0779 9.68813 16.0779C7.12612 16.0779 4.95165 14.3395 4.17651 11.9366L4.06289 11.9465L1.07231 14.3273L1.0332 14.4391C2.62638 17.6946 5.89889 19.9314 9.68813 19.9314Z" fill="#34A853" />
                            <path d="M4.17667 11.9366C3.97215 11.3165 3.85378 10.6521 3.85378 9.96562C3.85378 9.27905 3.97215 8.6147 4.16591 7.99463L4.1605 7.86257L1.13246 5.44363L1.03339 5.49211C0.37677 6.84302 0 8.36005 0 9.96562C0 11.5712 0.37677 13.0881 1.03339 14.4391L4.17667 11.9366Z" fill="#FBBC05" />
                            <path d="M9.68807 3.85336C11.5073 3.85336 12.7344 4.66168 13.4342 5.33718L16.1684 2.59107C14.4892 0.985496 12.3039 0 9.68807 0C5.89885 0 2.62637 2.23672 1.0332 5.49214L4.16573 7.99466C4.95162 5.59183 7.12608 3.85336 9.68807 3.85336Z" fill="#EB4335" />
                    </svg>
                  <%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path, class: 'text-gray-700 text-white w-full p-2 flex flex-row justify-center gap-2 items-center rounded-sm duration-100 ease-in-out rounded-md' ,method: :post%>
             </div>  
             <div class="text-xs  pt-10 mx-auto sm:ml-8 sm:pt-12 sm:pb-12 sm:text-base flex">
                  既にアカウントをお持ち方は
                 <div class =" underline decoration-rose-700">
                     <%=link_to "こちら",user_session_path %>
                </div>
                   から。
             </div>
       </div>
    </div>
              <div class = " absolute w-4/12 -bottom-4 left-2 sm:bottom-20 sm:left-20 sm:w-48 sm:bottom-10 lg:bg-yellow-200 rounded-full">
                   <%=image_tag "fan.png"%>
              </div>
              <div class="absolute w-4/12 top-4 right-8 sm:top-20  sm:right-20 sm:w-48 lg:bg-yellow-200 rounded-full">
                  <%=image_tag "umbrella.png"%>
              </div>
<% end %>
 <%= render "diaries/footer" %>
