   <%= render "header" %>
  
  <div class="text-lg  text-center pb-6 pt-6 ">
    ここが編集部屋です。
  </div>

  
  <%= form_with model: @diary, url: diary_path(@diary.id), class:" bg-gray-50 h-screen w-screen ", local: true do |f| %>

 <div class="mx-auto max-w-6xl p-12 pt-10">
   <div class="flex flex-col md:flex-row ">
      <div class="md:w-1/2 max-w-md flex flex-col ">
         <div class="  text-center md:text-4xl text-xl font-black uppercase mt-10 ">
        <%=@diary.created_at.strftime("%Y年 %m月 %d日")%>
         </div>
         <div class="  text-center text-xl mt-4 mb-4">思い出を投稿し直しましょう</div>
      <div class =" bg-gray-200 rounded-full">
      <%=image_tag "pc.png"%>
     </div>
  </div>


      <div class=" md:w-1/2 flex justify-start mr-8 mt-5 md:justify-end w-full md:w-1/2 ">
         <div class="shadow-md flex-auto max-w-sm  p-10 pb-20 bg-gray-200 -mb-8 rounded-lg">
              <%= render 'shared/error_messages', model: f.object %>
            <div class="w-full">
               <div class="font-bold h-6 mb-1 mt-3 text-gray-600 text-base leading-8 uppercase"><span class="text-red-400 ">*</span> 思い出</div>
                <%= f.text_area :content, class:"p-1 px-2 appearance-none outline-none w-full text-gray-800", id:"diary-content", placeholder:"友達とばったりあった。", maxlength:"15" %>
                <span class="text-right text-sm text-gray-600", id="count-word",id="word-count">/15</span>
            </div>
            <div class="w-full">
               <div class="font-bold h-6 mb-1 mt-8 text-gray-600 text-base leading-8 uppercase"><span class="text-red-400 ">*</span> 場所</div>
                <%= f.text_area :place, class:"p-1 px-2 appearance-none outline-none w-full text-gray-800", id:"diary-place", placeholder:"いつものコンビニ", maxlength:"30" %> 
                <span class="text-right text-sm text-gray-600 ", id="count-place",id="place-count">/30</span>
            </div>

            <div class="w-full">
               <div class="font-bold h-6 mb-1 mt-8 text-gray-600 text-base leading-8 uppercase"> 写真(任意)</div>
              <%= f.file_field :image, id:"diary-image" %>
            </div>


            <div class="mt-8 relative">
              <%= f.submit "投稿する", class: 'shadow-md font-medium py-4 px-4 text-gray-600
                  cursor-pointer bg-gray-50 rounded text-lg tr-mt  absolute text-center w-full hover:bg-gray-400'%>
            </div>
         </div>
      </div>
   </div>
</div>
 <% end %>

