<div class = "bg-yellow-50">
 <body class= "header">
 <div class ="toggle" id="toggle">
    <div class ="toggle-box" id="toggle-box">
        <span></span>
        <span></span>
        <span></span>
    </div>
 </div>
 <div class="nav-content"id="nav-content">
    <nav>
        <ul>
            <li><%=link_to "トップ",root_path%></li>
            <li><%=link_to "small-diaryとは","#"%></li>
            <li><%=link_to "使い方","#"%></li>
            <li><%=link_to "新規登録","#"%></li>
            <li><%=link_to "ログイン", "#"%></li>
        </ul>
    </nav>
 </div>
 <div class=" font-mono text-xl fixed p-4 " id="main">
   <%=link_to "small-diary" ,root_path  %>  
  </div>
 <div class="text-lg  text-center mb-7 pt-7">
    小さな思い出を日記にしませんか?
 </div>


<div  class=" relative bg-yellow-200  w-full rounded-full">
 <%=image_tag "cat_girl.png"%>

 <div class=" absolute inset-y-0 right-28 top-1/2 font-mono text-center text-xl ">
 <%= link_to 'dairyを始める',  "#", id: "registrations"%>
 </div>
</div>

 </body>

</div>
