 <%= render "header" %>

 <div class=" pl-4 pb-2  sm:text-lg sm:pb-10 sm:pt-6 text-xs pb-10 pt-6  text-center bg-yellow-50  ">
    <%=link_to "小さな思い出を日記にしませんか?", about_diaries_path%>
 </div>

<div class="bg-yellow-50 h-full">
 <div  class=" relative  bg-yellow-200 m-auto w-9/12 rounded-full">
   <%=image_tag "cat_girl.png"%>

  <% if user_signed_in?%>
    <%= link_to '今日を投稿する',  new_diary_path ,class:'absolute text-xs right-4 top-14 lg:text-2xl  lg:top-96 lg:right-1/5 md:text-base md:top-56 md:right-10 sm:top-32 sm:right-8 sm:text-sm font-mono hover:underline ' %>
  <% else %>
    <%= link_to 'dairyを始める',  new_user_registration_path, class: "absolute text-xs right-4 top-14 lg:text-2xl  lg:top-96 lg:right-1/5 md:text-base md:top-56 md:right-10 sm:top-32 sm:right-8 sm:text-sm font-mono hover:underline"%>
  <% end %>
 </div>

</div>

<div class="h-16 grid grid-cols-3 gap-4 content-center text-center bg-yellow-200 ">
<%=link_to '利用規約', terms_diaries_path%>
<%=link_to'プライバシーポリシー' ,privacy_diaries_path%>
<%= link_to "お問い合わせ" ,new_contact_path %>
</div>


