 
 <%= render "diaries/header" %>


 <div class="text-lg  text-center pb-6 pt-6 bg-yellow-50 ">
    <%="ここが#{@nickname}さんの日記です"%>
 </div>
<div class="bg-yellow-50 h-screen">
  <ul class="p-8 grid grid-cols-4 gap-4 bg-yellow-50  ">
    <% @diaries.each do |diary| %>
      <div class="text-center bg-yellow-200 rounded-md pt-3 mt-4">
        <%=diary.created_at.strftime('%Y/%m/%d')%>
         <div class="text-sm">
            <li><%="出来事 : #{diary.content}"%></li>
            <li><%="場所 : #{diary.place}"%><li>
         </div>
         <div class ="pl-8">
          <% if diary.image.blank? %>
            <%=image_tag "sleep.png" ,class:"w-44 "%> 
              <% else %>
               <%=image_tag diary.image.variant(resize: '176x176'), class:"w-44 "%>
          <% end %>
        </div>
        <div class=" text-right">
        <%=link_to "編集",edit_diary_path(diary.id),id:'diary-edit',class: 'font-sans pr-3 text-sm hover:underline'%>
        </div>
      </div>
    <% end %>
 </ul>
</div>

