 
 <%= render "diaries/header" %>


 <div class="lg:text-lg lg:pb-10 lg:pt-6 text-xs pb-10 pt-6  text-center bg-yellow-50">
    <%="ここが#{@nickname}さんの日記です"%>
 </div>
 <%= flash[:notice] %>
<div class="bg-yellow-50 h-screen">
  <ul class=" p-8 grid grid-cols-1  lg:grid-cols-5 lg:gap-5 bg-yellow-50  md:grid-cols-4 md:gap-4 sm:grid-cols-3 sm:gap-3">
    <% @diaries.each do |diary| %>
      <div class="text-center bg-yellow-200 rounded-md pt-3 mt-4">
        <%=diary.created_at.strftime('%Y/%m/%d')%>
         <div class="lg:text-sm md:text-xs mt-3 lg:leading-relaxed">
            <li><%="content: #{diary.content}"%></li>
            <li><%="place: #{diary.place}"%><li>
         </div>
          <% if diary.image.blank? %>
            <%=image_tag "sleep.png" ,class:"w-32 lg:w-44 md:w-32 sm:w-28 mx-auto"%> 
              <% else %>
               <%=image_tag diary.image.variant(resize: '176x176'), class:" w-32 lg:w-44 md:w-32 sm:w-28 mx-auto"%>
          <% end %>
        <div class=" text-right">
        <%=link_to "編集",edit_diary_path(diary.id),id:'diary-edit',class: ' text-base pr-8 font-sans lg:pr-3 lg:text-sm md:text-xs md:pr-4 hover:underline'%>
        </div>
      </div>
    <% end %>
 </ul>
</div>
 <div class="text-center font-mono pb-4 text-gray-600">
 <%= paginate @diaries %>
 </div>

<%= render "diaries/footer" %>


