 <%= render "diaries/header" %>

 <div class="text-lg  text-center pb-7 pt-7 bg-yellow-50">
    おかえりなさい
</div>



<%= form_with model:@user, url: user_session_path, class: 'relative  flex flex-col pt-2 bg-yellow-50', local: true do |f| %>
<div class='min-h-screen flex flex-col items-center justify-center bg-yellow-50 '>
 <div class='flex flex-col bg-yellow-200  shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md'>

 <div class=" font-light self-center mb-8 text-3xl">
       ログイン
   </div>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="flex flex-col pt-4">
      <label class="mb-1 text-xs tracking-wide text-gray-600">メールアドレス</label>
    <%= f.email_field :email, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="flex flex-col pt-4">
      <label class="mb-1 text-xs tracking-wide text-gray-600">パスワード</label>
    <%= f.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"password", placeholder:"" %>
  </div>
   <div class='flex w-full'>
     <%= f.submit "Create Account", class: 'flex mt-8 items-center justify-center focus:outline-none text-black text-sm  sm:text-base  bg-yellow-50  hover:bg-yellow-500 rounded-2xl py-2 w-full transition duration-150 ease-in  uppercase cursor-pointer'%>
    </div>
        <div class="text-center pt-12 pb-12">
        <p>まだアカウントを持っていない方はこちら <a href="register.html" class=" underline font-semibold">Register here.</a></p>
    </div>

  </div>

</div>
<div class = " absolute top-24 left-12 w-48  bg-yellow-200 rounded-full">
 <%=image_tag "atm.png"%>
</div>
<div class="absolute  bottom-28 right-10 w-48 bg-yellow-200 rounded-full">
 <%=image_tag "cake.png"%>
 </div>


<% end %>
