 <%= render "diaries/header" %>

 <div class="text-lg  text-center pb-6 pt-6 bg-yellow-50">
    おかえりなさい
</div>



<%= form_with model:@user, url: user_session_path, class: 'relative  flex flex-col pt-2 bg-yellow-50', local: true do |f| %>
 <div class='min-h-screen flex flex-col items-center justify-center bg-yellow-50 '>
  <div class="flex flex-col bg-yellow-200 w-4/5 shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md">

 <div class=" font-light self-center mb-8 text-3xl">
       ログイン
   </div>
  <div class='text-red-600'>
    <%= render 'shared/error_messages', model: f.object %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="flex flex-col pt-4">
      <label class="mb-1 text-xs tracking-wide text-gray-600" for="email">メールアドレス:</label>
    <%= f.email_field :email, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="flex flex-col pt-4">
      <label class="mb-1 text-xs tracking-wide text-gray-600" for="password">パスワード: </label>    
    <%= f.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 bg-yellow-50 mt-1 leading-tight focus:outline-none focus:shadow-outline", id:"password", placeholder:"6文字以上の半角英数字" %>
    <div class="flex text-xs pl-2 mt-2">※パスワードを忘れた方は<%= link_to 'こちら',  new_user_password_path, class:'hover:underline text-red-400'%></div> 

  </div>
   <div class='flex w-full'>
     <%= f.submit "login", class: 'flex mt-8 items-center justify-center focus:outline-none text-black text-sm  sm:text-base  bg-yellow-50  hover:bg-yellow-500 rounded-2xl py-2 w-full transition duration-150 ease-in  uppercase cursor-pointer'%>
    </div>

     <div class="flex flex-row justify-center my-5 ">
               --- or sign-in with ---
      </div>
      <!-- alternate sign-in -->  
      <div class="flex flex-row gap-2">
        <%= link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, class: 'bg-green-500 text-white w-full p-2 flex flex-row justify-center gap-2 items-center rounded-sm hover:bg-green-600 duration-100 ease-in-out rounded-md' ,method: :post%>
      </div>  

    <div class=" pt-10 pl-2 sm:pl-8 sm:text-base sm:pt-12 sm:pb-12 flex">
        まだアカウントを持ってない方は
        <div class =" hover:underline text-red-400">
        <%=link_to "こちら",new_user_registration_path %>
        </div>
        から。
    </div>

  </div>

 </div>
   <div class="absolute w-4/12 top-24 right-2 sm:top-10  sm:right-18 sm:w-48 md:bg-yellow-200 rounded-full">
     <%=image_tag "atm.png"%>
   </div>
  <div class = " absolute w-4/12 bottom-10 left-0 sm:bottom-2 sm:left-2 sm:w-48 sm:bottom-10 md:bg-yellow-200 rounded-full">
     <%=image_tag "cake.png"%>
  </div>


<% end %>
<%= render "diaries/footer" %>
