<!DOCTYPE html>
<html>
  <head>
    <title>SmallDiary</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="https://www.small-diary.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Small-Diary">
    <meta property="og:description" content="毎日ある小さな思い出を一言日記にしましょう！日記が苦手な人でも大丈夫！">    
    <meta property="og:image" content="/Users/yoshimotokouji/small-diary/app/assets/images/cat_girl.png">
    <meta property="og:site_name" content="Small-Diary">
      <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
